:root{
  --bgColor:#FFF8F0;
  --primaryColor:#031927;
  --secondaryColor:#788AA3;
  --contrastColor: #E65F5C;
  --highlightColor:#3590F3;

}

.App {
    font-family: sans-serif;
    text-align: center;
    
  }
  /* header */
  .navbar-custom {
    background-color: #323643;
  }
  .navbar-brand {
    font-family: "Courier Prime", monospace;
  }
  
  .nav-link {
    font-family: "Courier Prime", monospace;
  }
  
  .link-color {
    color: whitesmoke;
    font-family: "Courier Prime", monospace;
    padding: 0.5rem;
  }
  
  .link-color:hover {
    color: #00a8cc;
    text-decoration-color: red;
  }
  /* footer */
  
  .footer {
    background-color: #323643;
    color: #f7f7f7;
    text-align: center;
  }
  
  .heading-footer {
    padding-top: 10px;
    font-size: 30px;
    font-family: "Courier Prime", monospace;
    text-align: center;
  }
  .body-copyright {
    font-size: 10px;
    color: #f7f7f7;
  }
  
  /* home */

  .options{
    padding: 2rem;
    margin:3rem 12rem;
background-color: var(--bgColor);
font-size: 2rem;
border-radius: 30px;
  }

  .homeLinks{
    color: var(--primaryColor);
    text-decoration: none;
  }

  .homeLinks:hover {
    color: #00a8cc;
    text-decoration-color: red;
  }
.img-triangle{
  max-width: 10rem;
margin: 0rem 3rem;
}

/* angle of triangle */

.triangle-angle{
  margin: 8rem;
}

.triangle-angle-heading{
  padding-bottom: 3rem;
}

.triangle-angle-btn{
  margin: 3rem;
}

/* quiz */

.quesBlock{
  
  margin: 3% 25%;
  text-align: left;
  padding: 1rem 2rem;
}

#block1,#block2,#block3,#block4,#block5{
  background-color: var(--bgColor);
}

#scoreDisplay{
  margin-bottom: 2rem;
}